<h2>Add A Book</h2>

<%= form_tag books_path, method: :post do %>

  <%= label_tag :title %>
  <%= text_field_tag :title, @book.title %>

  <%= label_tag :pages %>
  <%= text_field_tag :pages, @book.pages %>

  <%= label_tag :publication_year %>
  <%= text_field_tag :publication_year, @book.publication_year %>

  <%= submit_tag 'Create Book' %>
<% end %>
